.about{
    color: white;
}
h1{
    color: white;
}
.aboutpage{
    background-color: black;
}
.contact{
    background-color: rgb(0, 0, 0);
}
.home{
    background-color: black;
}
h2{
    color: white;
}
h3{
    color: white;
}